.contact-us{
    min-height: 350px;
    width: 100%;

    padding: 0rem  0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
}

.contact-display{
    width: 100%;
    margin-bottom: 1rem;
    height: 400px;
    position: relative;
    overflow: hidden;

}
.contact-display > img{
    width: 100%;
    background-color: crimson;
    height: 100%;
    z-index: 1;
}

.contact-info{
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    z-index: 10;
    bottom: 2rem;
    left: 4rem;

}

.contact-info > p{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-info h2{
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.packages-btn{
    width: max-content;
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 12px;
}
.packages-btn:visited{
    color: white;
}

@media screen and (max-width:900px) {
    .contact-us{
        width: 100%;
    }

    .contact-info{
        width: 100%;
        left: 2rem;
    
     
    }

  }

@media screen and (max-width:700px) {
    .contact-display{
        height: 350px;
    }
    .contact-info{
        bottom: 1rem;
        left: 1rem;
        gap: 0.5rem;

    }
 }
@media screen and (max-width:500px) {
    
    .contact-info{
        bottom: 0.5rem;
        left: 0;

    }
     .contact-info h2{
        font-weight: 700;
        font-size: 16px;
    }
    .packages-btn{
        padding: 7px 16px;
        font-size: 12px;
    }

   
}