header{
    width: 100vw;
    height: 180px;
    padding:  16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    position: sticky;
    top: 0;
    z-index: 500;
    animation: header-slide 1s ease-out forwards;
}
.logo-container{
    width: max-content;
    color: white;
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    
    
}
.logo-container > p{
    font-size: 20px;
    color: chartreuse;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: capitalize;
    
    background: linear-gradient(to right,
    chartreuse ,aqua 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
        
}

.logo-container img{
    padding: 2px;
    width: 120px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.topnav-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 1rem;
}
.topnav-links{
   display: flex;
   align-items: baseline;
   justify-content: flex-end;
   width: max-content;
   gap: 4rem;
}
.topnav-links div{
    color: white;
    display: flex;
    align-self: flex-end;
    gap: 12px;
}

.topnav-links > div a{
    font-size: 1.7rem;
    color: #f4f4f4;
    color: gray;
}

.topnav-booking-btn{
        width: max-content;
        padding: 7px 16px;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
        outline: none;
        background-color: #191919;
        border: 0.2px solid gainsboro;
        animation: camera-flash 700ms ease-out forwards;

}

.topnav-booking-btn:visited{
    color: white;
}
 
.visibility{
    color: whitesmoke;
    visibility: hidden;
    transition:  ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: baseline;
}
.visibility i{
    color: white;
}
.booking-btn{
    animation: camera-flash 700ms ease-out  forwards;
    color: black;
    background-color: #191919;
    border: 0.2px solid gainsboro;

    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    border: 0;

}
.booking-btn:visited{
    color: black;
}

@keyframes camera-flash {
    0%{
        background-color: black ;
        color: white;
    }
    50%{
        background-color: white ;
    }

    75%{
        background-color: black ;
        color: crimson;
    }
    100%{
        background-color: #191919 ;
        color: white;
        border: 0.5px solid white;

    }
}


@media screen and (max-width:1440px) {
    .booking-btn{
        font-size: 16px;
        padding: 7px 16px;
    
    }
    .logo-container > p{
        font-size: 17px;
        font-weight: 700;
            
    }
    
    .logo-container img{
        width: 90px;
    }
}
@media screen and (max-width:900px) {
    header{
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
  
    .visibility{
        width: 100%;
        cursor: pointer;
        visibility: visible;
        padding: 0 1rem;

        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .booking-btn{
        padding: 7px 14px;
        font-size: 14px;

    }

    .visibility i{
        width: max-content;
        height: auto;
        font-size: 2.5rem;

    }

    .logo-container{
        width: 100%;
        min-height: 100px;

    }
    .logo-container > p{
        font-size: 17px;
        color: chartreuse;
    }
    .logo-container img{
        width: 70px;
        height: 70px;

    }
    .topnav-container{
        display: none;
    }
  
}

@media screen and (max-width:500px) {
    header{
        height: 150px;
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
  
    .visibility{
        padding: 0;
        width: 100%;
        cursor: pointer;
        visibility: visible;
        padding: 0 1rem;

        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .booking-btn{
        padding: 5px 10px;
        font-size: 12px;
     
    }
    .visibility i{
        width: max-content;
        height: auto;
        font-size: 2.2rem;
        margin: 0;
       padding: 0;
    }

    .logo-container{
        width: 100%;
    }
    .logo-container > p{
        font-size: 17px;
        color: chartreuse;
    }
    .logo-container img{
        width: 65px;
        height: 60px;
        object-fit: contain;

    }
    .topnav-container{
        display: none;
    }
  
}